<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .form-group {
            display: flex;
            align-items: center;
        }
        .form-group label {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h2>User Details</h2>
        <form action="/">
            <div class="form-group">
                <label for="firstname">First Name:</label>
                <label for="name"><%= firstname %></label>
            </div>
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <label for="lastname"><%= lastname %></label>
            </div>
            <div class="form-group">
                <label for="mobilenumber">Mobile Number:</label>
                <label for="mobilenumber"><%= mobilenumber %></label>
            </div>
            <button type="submit" class="submit-btn">home</button>
        </form>
    </div>
</body>
</html>
